{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Image|Detail{% endblock %}


{% block content %}

<div class="container">
  <div class="row my-2 g-0">
    <!--写真エリア-->
    <div class="col-md-8 text-end px-3" style="background-color: #e8f1f4;">
      <img src="{{ photo.pic.url }}" class="img-fluid rounded" alt="photo">
    </div>
    
    <!--コメントエリア-->
    <div class="col-md-4">
      
      <div class="card px-3 py-3 d-flex flex-column justify-content-between h-100 w-100" style="background-color: #e8f1f4;">
        <div>
          <strong class="text-primary">{{ photo.user }}</strong>
            <span>
            : {{ photo.message }}
            </span><br>
          <small class="text-muted">{{ photo.created_at|date:"Y年m月d日" }}</small>
          <hr>
        
          {% for comment in comments %}
        
          <div class="border-bottom mx-1 py-1">
            <strong>{{comment.user.username}}:</strong>
            {{ comment.comment }}</br>
            <div class="d-flex justify-content-between py-1">
              <div>
                <small class="text-muted">{{ comment.created_at|date:"Y年m月d日" }}</small>
              </div>
              <div>
                {% if comment.user == user %}
                コメントの
                <a class="btn btn-sm hover-opacity" href="{% url 'board:comment_edit' pk=comment.pk %}" style="background-color: rgb(112, 194, 197);">
                  編集
                </a>
                <a class="btn btn-sm hover-opacity" href="{% url 'board:comment_delete' pk=comment.pk %}" style="background-color: rgb(235, 68, 233);">
                  削除
                </a>
                {% endif %}
              </div>
            </div>
          </div>
          {% empty %}
          まだコメントはありません
          {% endfor %}
          {% if user.is_authenticated %}
          <p class="fw-bold">
            コメントする
          </p>
          <form method="post" class="my-2" action="{% url 'board:comment' pk=object.pk %}">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn hover-opacity" style="background-color: black; color: #ffffff;">
            コメントする
            </button>
          </form>
          {% endif %}
        </div>
      
      <div class="my-2 mx-2 mt-auto">
        {% if photo.user == user %}
        <div class="d-flex justify-content-end">
          <div class="py-2">投稿の</div>
          <a class="btn mx-1 hover-opacity" href="{% url 'board:edit' pk=object.pk %}" style="background-color: rgb(17, 137, 39);">編集</a>
          <a class="btn mx-1 hover-opacity" href="{% url 'board:delete' pk=object.pk %}" style="background-color: rgb(226, 91, 6);">削除</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  
  
</div>

{% endblock %}