{% extends "base.html" %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'imageboard/style.css' %}">
{% endblock %}
{% block title %}Image|投稿一覧{% endblock %}

{% block header %}あなたの投稿{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    {% for photo in photo_list %}
    <div class="col-md-3 mb-3">
      <div class="card h-100">
        <a href="{% url 'board:detail' pk=photo.pk %}">
          <img src="{{ photo.thumbnail.url }}" class="img-fluid rounded hover-opacity" alt="photo" style="width: 100%; height: auto; object-fit: cover;">
        </a>  
      </div>
    </div>
    {% endfor %}
  </div>
</div>  

{% endblock %}